@use "@angular/material" as mat;

:root {
  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: light-dark(
          var(--color-white),
          var(--color-black)
        ),
      active-indicator-color: light-dark(var(--color-white), var(--color-black)),
      active-hover-indicator-color: light-dark(
          var(--color-white),
          var(--color-black)
        ),
      active-indicator-height: 32px,
      active-indicator-shape: var(--radius-md),
      container-height: 40px,
      divider-height: 0,
    )
  );
}

.mdc-tab-indicator--active .mdc-tab-indicator__content {
  //NOTE: lack of variable
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--app-color-shadow);
}

.mdc-tab-indicator__content--underline {
  align-self: center !important;
}

.mat-mdc-tab-label-container {
  background-color: light-dark(var(--color-gray-100), var(--app-color-black));
  border-radius: var(--radius-lg);
  padding: 0 4px;
}
