<div class="grid grid-cols-4 gap-4">
  <app-version-card-view
    label="Admin Version"
    icon="dns"
    iconClass="text-blue-500"
    version="2.12.0"
  ></app-version-card-view>
  <app-version-card-view
    label="Portal Version"
    icon="language"
    iconClass="text-green-500"
    version="2.11.8"
  ></app-version-card-view>
  <app-version-card-view
    label="API Version"
    icon="database"
    iconClass="text-purple-500"
    version="2.12.0"
  ></app-version-card-view>
  <app-version-card-view
    label="TL Services"
    icon="memory"
    iconClass="text-orange-500"
    version="2508027-06-TL-SVC-X64-NETBLINUX"
  ></app-version-card-view>
</div>

<app-backend-services-card-view></app-backend-services-card-view>
