.mat-icon {
  height: fit-content !important;
  width: fit-content !important;
}

.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}

.size-30 {
  font-size: 30px;
  font-variation-settings: "OPSZ" 30;
}

.mat-mdc-card-content {
  padding: 24px !important;
}

.mat-mdc-card-content:last-child {
  //NOTE: consider remove?
  padding-bottom: 24px !important;
}

.lib-controller {
  mat-form-field {
    --lib-controller-height: 40px;
    display: inline-flex;
    align-items: center;
    height: var(--lib-controller-height);
    width: 100%;
    color: var(--color-gray-900);
    background-color: transparent;
    border: 1px var(--tw-border-style);
    border-color: light-dark(var(--app-color-light-gray),
        var(--app-color-dark-gray));
    border-radius: var(--radius-md);
  }

  mat-form-field>.mat-mdc-text-field-wrapper {
    align-items: center;
  }

  &.lib-controller--error {
    mat-form-field {
      border-color: var(--color-red-500);
    }
  }
}
