@mixin export-root-from-config($config) {
  :root {
    @each $prefix, $map in $config {
      @each $key, $value in $map {
        --#{$prefix}-#{$key}: #{$value};
      }
    }
  }
}

@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius !=0 {
    border-radius: $radius;
  }
}
