$radius: (
  "sm" : 0.125rem,
  "md" : 0.375rem,
  "lg" : 0.5rem,
  "xl" : calc(0.5rem + 4px),
  "full" : 9999px,
);

$color: (
  "white": #ffffffcc,
  "black": #252d4280,
  "light-gray": var(--color-gray-300),
  "dark-gray": var(--color-gray-500),
  "shadow": (0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1)),
  "secondary": light-dark(var(--color-neutral-400), var(--color-red-500))
);

$fontSize: (
  "normal": 1rem,
  "large": var(--text-2xl),
);

$fontWeight: (
  "normal": "normal",
  "bold": var(--font-weight-semibold),
);
