$radius: (
  "sm" : 0.125rem,
  "md" : 0.375rem,
  "lg" : 0.5rem,
  "xl" : calc(0.5rem + 4px),
  "full" : 9999px,
);

$color: (
  "white": #ffffffcc,
  "black": #252d4280,
  "light-gray": var(--color-gray-300),
  "dark-gray": var(--color-gray-500),
);
