@use "./variables";
@use "./mixins";
@use "./tailwindcss/custom";
@use "./material/custom" as materialCustom;
@use "./components/tabs";
@use "./components/card";
@use "./components/tree";
@use "./components/select";

$export-config: (
  "radius": variables.$radius,
  "app-color": variables.$color,
  "font-size": variables.$fontSize,
  "font-weight": variables.$fontWeight,
);

@include mixins.export-root-from-config($export-config);
