<div class="grid grid-cols-2 gap-2">
  <div>
    <lib-tabs [tabs]="TABS">
      <ng-template libTemplate="template-editor">
        <app-mail-template-editor
          [template]="template()"
        ></app-mail-template-editor>
      </ng-template>
      <ng-template libTemplate="variables">
        <app-mail-template-variables-config></app-mail-template-variables-config>
      </ng-template>
    </lib-tabs>
  </div>
  <div>
    <app-mail-template-preview></app-mail-template-preview>
  </div>
</div>
