.animation {
  &-enter {
    &--fade {
      animation: slide-fade 1s;
    }
  }

  &-leave {
    &--fade {
      animation: slide-out-fade 1s;
    }
  }
}

@keyframes slide-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-fade {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
