<!-- TODO: implement password dynamic -->
<lib-card appearance="raised" class="w-[450px]">
  <ng-template #title>
    <h1 class="text-center">Login to Dashboard</h1>
  </ng-template>
  <ng-template #subTitle>
    <p class="text-center">Enter your credentials to access the admin panel</p>
  </ng-template>
  <form [formGroup]="form()">
    <lib-dynamic-form [fields]="FIELDS">
      <ng-template libDynamicControllerTemplate="password" let-control>
        <lib-password-input [formControl]="control"></lib-password-input>
      </ng-template>
    </lib-dynamic-form>
  </form>
</lib-card>

<lib-password-input></lib-password-input>
