<div
  class="flex items-center justify-center min-h-screen bg-gradient-to-br from-slate-50 via-blue-50 to-cyan-50 dark:from-slate-900 dark:via-slate-800 dark:to-slate-900 p-4 transition-colors duration-500"
>
  <lib-card appearance="raised" class="w-[450px]">
    <ng-template #title>
      <h1 class="text-center mt-4">Login to Dashboard</h1>
    </ng-template>
    <ng-template #subTitle>
      <p class="text-center">
        Enter your credentials to access the admin panel
      </p>
    </ng-template>
    <form [formGroup]="form()" (ngSubmit)="onSubmit()" class="mt-6 px-4">
      <lib-dynamic-form [fields]="FIELDS"></lib-dynamic-form>
      <div class="flex flex-col items-center gap-4 w-full mt-6 mb-4">
        <button lib-button type="submit" class="w-full" size="medium">
          Login
        </button>

        <small class="fg-secondary">or continue with</small>

        <button
          lib-button
          type="submit"
          class="w-full"
          size="medium"
          appearance="outlined"
          severity="neutral"
          icon="custom:google"
          iconSet="outlined"
        >
          Continue with Google
        </button>
      </div>
    </form>
  </lib-card>
</div>
