<lib-card appearance="raised" class="w-[450px]">
  <ng-template #title>
    <h1 class="text-center">Login to Dashboard</h1>
  </ng-template>
  <ng-template #subTitle>
    <p class="text-center">Enter your credentials to access the admin panel</p>
  </ng-template>
  <form [formGroup]="form()" (ngSubmit)="onSubmit()">
    <lib-dynamic-form [fields]="FIELDS"></lib-dynamic-form>
    <div class="flex gap-4 w-full mt-6">
      <button lib-button type="submit" class="w-full">Login</button>
    </div>
  </form>
</lib-card>

<!-- <div class="flex gap-2 flex-wrap"> -->
<!--   <h1 libCanColor severity="success" appearance="raised" class="text-center">success raised</h1> -->
<!--   <h1 libCanColor severity="success" appearance="filled" class="text-center">success filled</h1> -->
<!--   <h1 libCanColor severity="success" appearance="outlined" class="text-center">success outlined</h1> -->
<!--   <h1 libCanColor severity="success" appearance="soft" class="text-center">success soft</h1> -->
<!--   <h1 libCanColor severity="success" appearance="ghost" class="text-center">success ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="neutral" appearance="raised" class="text-center">neutral raised</h1> -->
<!--   <h1 libCanColor severity="neutral" appearance="filled" class="text-center">neutral filled</h1> -->
<!--   <h1 libCanColor severity="neutral" appearance="outlined" class="text-center">neutral outlined</h1> -->
<!--   <h1 libCanColor severity="neutral" appearance="soft" class="text-center">neutral soft</h1> -->
<!--   <h1 libCanColor severity="neutral" appearance="ghost" class="text-center">neutral ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="info" appearance="raised" class="text-center">info raised</h1> -->
<!--   <h1 libCanColor severity="info" appearance="filled" class="text-center">info filled</h1> -->
<!--   <h1 libCanColor severity="info" appearance="outlined" class="text-center">info outlined</h1> -->
<!--   <h1 libCanColor severity="info" appearance="soft" class="text-center">info soft</h1> -->
<!--   <h1 libCanColor severity="info" appearance="ghost" class="text-center">info ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="primary" appearance="raised" class="text-center">primary raised</h1> -->
<!--   <h1 libCanColor severity="primary" appearance="filled" class="text-center">primary filled</h1> -->
<!--   <h1 libCanColor severity="primary" appearance="outlined" class="text-center">primary outlined</h1> -->
<!--   <h1 libCanColor severity="primary" appearance="soft" class="text-center">primary soft</h1> -->
<!--   <h1 libCanColor severity="primary" appearance="ghost" class="text-center">primary ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="secondary" appearance="raised" class="text-center">secondary raised</h1> -->
<!--   <h1 libCanColor severity="secondary" appearance="filled" class="text-center">secondary filled</h1> -->
<!--   <h1 libCanColor severity="secondary" appearance="outlined" class="text-center">secondary outlined</h1> -->
<!--   <h1 libCanColor severity="secondary" appearance="soft" class="text-center">secondary soft</h1> -->
<!--   <h1 libCanColor severity="secondary" appearance="ghost" class="text-center">secondary ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="warning" appearance="raised" class="text-center">warning raised</h1> -->
<!--   <h1 libCanColor severity="warning" appearance="filled" class="text-center">warning filled</h1> -->
<!--   <h1 libCanColor severity="warning" appearance="outlined" class="text-center">warning outlined</h1> -->
<!--   <h1 libCanColor severity="warning" appearance="soft" class="text-center">warning soft</h1> -->
<!--   <h1 libCanColor severity="warning" appearance="ghost" class="text-center">warning ghost</h1> -->
<!---->
<!--   <h1 libCanColor severity="danger" appearance="raised" class="text-center">danger raised</h1> -->
<!--   <h1 libCanColor severity="danger" appearance="filled" class="text-center">danger filled</h1> -->
<!--   <h1 libCanColor severity="danger" appearance="outlined" class="text-center">danger outlined</h1> -->
<!--   <h1 libCanColor severity="danger" appearance="soft" class="text-center">danger soft</h1> -->
<!--   <h1 libCanColor severity="danger" appearance="ghost" class="text-center">danger ghost</h1> -->
<!-- </div> -->
