<div class="flex justify-between items-center w-full mb-4">
  <div>
    Preview
    <br />
    <span class="text-sm fg-secondary">Live preview</span>
  </div>

  <div class="min-h-10 flex gap-1 flex-wrap items-center">
    <!-- <button type="button" lib-button icon="content_copy" iconSet="outlined" appearance="ghost" severity="neutral"> -->
    <!--   Copy -->
    <!-- </button> -->
    <!---->
    <!-- <button type="button" lib-button icon="download" iconSet="outlined" appearance="ghost" severity="neutral"> -->
    <!--   Download -->
    <!-- </button> -->

    <button
      type="button"
      lib-button
      icon="download"
      iconSet="outlined"
      appearance="ghost"
      severity="neutral"
    >
      All Languages
    </button>
    <button lib-button icon="wand_stars" iconSet="outlined">
      Generate for All Languages
    </button>
  </div>
</div>

<div class="grid grid-cols-2 gap-2">
  <div class="flex flex-col gap-2">
    <lib-card withToggle>
      <ng-template #title>
        <span class="font-medium text-base inline-flex gap-1 items-center">
          <span
            libIconPosition="center left"
            icon="data_object"
            iconSet="outlined"
          ></span>
          <span class="fg-primary">Variables</span>
        </span>
      </ng-template>

      <div class="min-h-10 flex gap-1 flex-wrap items-center">
        @for (variable of store.variables() | keyvalue; track variable.key) {
          <button
            lib-button
            icon="add"
            class="p-1 h-6"
            iconSet="outlined-sm"
            severity="neutral"
          >
            {{ variable.key }}
          </button>
        }
      </div>
    </lib-card>
  </div>

  <div class="flex flex-col gap-2">
    <div class="flex gap-4 justify-between">
      <lib-select label="Language" [options]="[]"></lib-select>

      <div class="flex items-end">
        <button
          type="button"
          lib-button
          icon="content_copy"
          iconSet="outlined"
          appearance="ghost"
          severity="neutral"
        >
          Copy
        </button>

        <button
          type="button"
          lib-button
          icon="download"
          iconSet="outlined"
          appearance="ghost"
          severity="neutral"
        >
          Download
        </button>
      </div>

      <!-- <div class="flex flex-col"> -->
      <!--   <lib-label label="Viewport"></lib-label> -->
      <!---->
      <!--   <div class="flex gap-2"> -->
      <!--     <button type="button" lib-button icon="desktop_windows" iconSet="outlined"> -->
      <!--       Desktop -->
      <!--     </button> -->
      <!--     <button type="button" lib-button icon="mobile" iconSet="outlined" severity="neutral"> -->
      <!--       Mobile -->
      <!--     </button> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>

    <lib-tabs [tabs]="TABS">
      <ng-template libTemplate="live-preview">
        <div class="flex w-full h-[500px] mt-4">
          <div class="flex gap-2">
            <button
              type="button"
              lib-button
              icon="desktop_windows"
              iconSet="outlined"
            >
              Desktop
            </button>
            <button
              type="button"
              lib-button
              icon="mobile"
              iconSet="outlined"
              severity="neutral"
            >
              Mobile
            </button>

            <lib-button-toggle [options]="VIEWPORTS"></lib-button-toggle>
          </div>
          <!-- @if (test(); as temp) { -->
          <!--   <iframe class="w-full h-full" [srcdoc]="temp"></iframe> -->
          <!-- } -->
        </div>
      </ng-template>
      <ng-template libTemplate="code-preview">code</ng-template>
    </lib-tabs>
  </div>
</div>
