@let languages = form.controls.languages.value;

<lib-card class="block">
  <ng-template #title>
    <span class="font-medium text-base inline-flex gap-1 items-center">
      <span
        libIconPosition="center left"
        icon="translate"
        iconSet="outlined"
      ></span>
      <span class="fg-primary">Languages</span>
    </span>
  </ng-template>

  <div class="h-10 flex gap-1 flex-wrap items-center">
    @for (language of languages; track $index) {
      <lib-chip>
        <span class="flex gap-1 items-center">
          {{ language | languageLabel }}
          <button
            lib-button
            icon="close"
            class="p-0 h-3"
            iconSet="outlined-sm"
            severity="neutral"
            appearance="ghost"
            (click)="removeLanguage(language)"
          ></button>
        </span>
      </lib-chip>
    }
  </div>

  <div class="flex gap-1 items-center">
    <lib-select
      [options]="LANGUAGES"
      [(ngModel)]="selectedLanguage"
      class="grow"
      placeholder="Add language..."
    ></lib-select>
    <button
      lib-button
      icon="add"
      (click)="addLanguage()"
      type="button"
    ></button>
  </div>
</lib-card>

<div class="flex gap-2 flex-wrap justify-between">
  <h3 libIconPosition="center left" icon="language" class="font-semibold">
    Variables
  </h3>

  <button lib-button icon="add" severity="neutral" (click)="addVariable()">
    New Variable
  </button>
  <!-- <div class="flex gap-1 items-center min-w-1/2"> -->
  <!--   <lib-text-input [(ngModel)]="newVariable" class="grow" -->
  <!--     placeholder="Variable name (e.g., firstName)"></lib-text-input> -->
  <!--   <button lib-button icon="add" (click)="addVariable()"></button> -->
  <!-- </div> -->
</div>

<div class="flex gap-1 items-center">
  <lib-controller-wrapper icon="search" iconSet="outlined" class="grow">
    <lib-text-input placeholder="Search variable"></lib-text-input>
  </lib-controller-wrapper>
</div>

<div class="flex gap-2 flex-col">
  @for (variable of form.controls.variables.value | key; track $index) {
    <lib-card>
      <ng-template #title>
        <span
          class="font-medium text-base inline-flex gap-1 items-center justify-between w-full"
        >
          <span class="fg-primary">
            &#123; &#123; {{ variable }} &#125; &#125;
          </span>
          <button
            lib-button
            icon="delete"
            severity="neutral"
            appearance="ghost"
          ></button>
        </span>
      </ng-template>

      <form [formGroup]="getVariableForm(variable)" class="space-y-2">
        @for (language of languages; track $index) {
          <lib-text-input
            [label]="language | languageLabel"
            [placeholder]="variable + ' in ' + language"
            [formControlName]="language"
            class="block"
          ></lib-text-input>
        }
      </form>
    </lib-card>
  }
</div>
