<lib-card class="block">
  <ng-template #title>
    <span class="font-medium text-base inline-flex gap-1 items-center">
      <span
        libIconPosition="center left"
        icon="data_object"
        iconSet="outlined"
      ></span>
      <span class="fg-primary">Variables</span>
    </span>
  </ng-template>

  <div class="min-h-10 flex gap-1 flex-wrap items-center">
    @for (variable of variables(); track $index) {
      <button
        lib-button
        icon="add"
        class="p-1 h-6"
        iconSet="outlined-sm"
        severity="neutral"
      >
        {{ variable }}
      </button>
    }
  </div>
</lib-card>

<lib-text-input
  type="textarea"
  [rows]="20"
  [ngModel]="template()"
  (ngModelChange)="valueChange($event)"
></lib-text-input>
