<lib-card appearance="raised">
  <ng-template #header>
    <span class="font-medium text-base inline-flex gap-1 items-center">
      <span libIconPosition="center left" [icon]="icon()" iconSet="outlined" [class]="iconClass()"></span>
      <span class="fg-primary">
        {{ label() }}
      </span>
    </span>
  </ng-template>
  <div class="space-y-2">
    <p class="text-2xl font-bold truncate">
      {{ version() }}
    </p>
    <lib-chip class="w-full" iconPosition="center left" icon="verified" iconSet="outlined"
      severity="success">Latest</lib-chip>
  </div>
</lib-card>
